node_modules/
dist/
build/
.DS_Store
*.log
.env
.env.local
.env.*.local
package-lock.json
yarn.lock
outfit.hellohello.is.har
outfit_extracted.html
/*.cjs
/*.js
!src/**/*.js
!vite.config.js
/*.png
!src/**/*.png
videos/

