@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@theme {
  --font-sans: "Helvetica Neue", Arial, ui-sans-serif, system-ui, sans-serif;
  --color-red: #ff0001;
  --color-cream: #ede4dd;
}
