@import 'tailwindcss';

@import 'tw-animate-css';

@theme {
  --font-sans: "font", "Helvetica Neue", Arial, ui-sans-serif, system-ui, sans-serif;
  --font-mono: "font", "Helvetica Neue", Arial, ui-sans-serif, system-ui, sans-serif;
  --color-red: #ff0001;
  --color-cream: #ede4dd;
}
